body.feed.gallery .page-content
{
    margin: 30px 0 30px 30px;
}

.feed.gallery.content_items
{
}
    .feed.gallery.content_items .content_item
    {
        float: left;
        
        margin: 0 30px 30px 0px;
        width: 345px;
        height: 259px;
    }
        .feed.gallery.content_items .content_item a
        {
            display: block;
            position: relative;
            overflow: hidden;
            width: 345px;
            height: 259px;
            z-index: 5;
        }
        .feed.gallery.content_items .content_item a:hover
        {
            overflow: visible;
            z-index: 6;
        }
            .feed.gallery.content_items .content_item a img
            {
                position: absolute;
            }