{% extends "base.html" %} 

{% block base_content %} 
    <div style="margin-bottom: 20px;">
        Создать:
        {% for link, type in create_types %}
            <a href="{{ link }}" style="text-decoration: underline;">{{ type }}</a>
        {% endfor %}
    </div>

    <div style="margin-bottom: 20px;">
        <form action="/admin/content/" method="get">
            <label>
                Тип:
                <select name="type" style="border: 1px solid #aaa;">
                    {% for k, v in filter_types %}
                        <option value="{{ k }}" {% if k == filter_type %}selected="selected"{% endif %}>{{ v }}</option>
                    {% endfor %}
                </select>
            </label>

            <input type="submit" value="Показать" style="border: 1px solid #aaa; padding: 1px;" />
        </form>
    </div>

    <div style="margin-bottom: 20px;">
        {% for i in range(1, total_pages) %}
            {% if i != page %}<a href="?type={{ filter_type }}&amp;page={{ i }}" style="text-decoration: underline;">{% else %}<b>{% endif %}{{ i }}{% if i != page %}</a>{% else %}</b>{% endif %}
        {% endfor %}
    </div>

    <table>
        {% for type, edit_url, content_item in content_items %}
            <tr>
                <td style="white-space: nowrap; vertical-align: top;">{{ content_item.created_at }}</td>
                <td style="padding-left: 20px; white-space: nowrap; vertical-align: top;">{{ type }}</td>
                <td style="padding-left: 20px;">
                    {% if edit_url %}<a href="{{ edit_url }}" style="text-decoration: underline;">{% endif %}
                    {{ content_item.title|striptags }}
                    {% if edit_url %}</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
