{% macro render_comment(comment) -%}
    <div class="comment" data-id="{{ comment.id }}">
        <div class="headline">
            {% if comment.identity %}
                <a href="#" class="avatar"><img src="{{ comment.identity.user.default_identity|identity_avatar|internet_image("_/24") }}" /></a>

                <a href="/user/{{ comment.identity.user.id }}/comments/" class="username">{{ comment.identity.user.default_identity|identity_name }}</a>
            {% else %}
                <span class="username anonymous">anonymous</span>
            {% endif %}

            <div class="datetime">{{ comment.created_at|datetime }}</div>

            {{ caller() }}

            <div class="clear"></div>
        </div>

        <div class="text">{{ comment.text|process_comment_text|safe }}</div>
        <div class="plaintext">{{ comment.text }}</div>
    </div>
{%- endmacro %} 
