{% extends "content/type/abstract/view.html" %}

{% block title %}
    {% if item.title_html %}
        <a href="{{ item.url }}">{{ item.title_html|safe }}</a>
    {% else %}
        <h1><a href="{{ item.url }}">{{ item.title }}</a></h1>
    {% endif %}
{% endblock %}

{% block subtitle %}
    {% if item.began %}
        <div class="began">Начато {{ item.began.at|datetime }} {% if item.began.music %}под {{ item.began.music }}{% endif %}</div>
    {% endif %}

    Опубликовано {{ item.created_at|datetime }} {% if item.music %}под {{ item.music }}{% endif %}
{% endblock %}

{% block content %}
    {{ item.text|safe }}
{% endblock %}

{% block right_col %}
    {{ block("content_item_next_prev", item=item, feed="index") }}
    {{ block("last_comments") }}
    {{ block("tagcloud", feed="index") }}
    {{ block("timeline", item=item) }}
    {% if item.began %}
        {{ block("lastfm", from_=item.began.at, to=item.created_at) }}
    {% else %}
        {{ block("lastfm", to=item.created_at) }}
    {% endif %}
{% endblock %}
