{% extends "base.html" %}

{% block base_content_wrapper %}
    <img src="/images/01300_highwayatnightreload_1920x500.jpg" style="display: block; margin-top: -2px; width: 100%;" />

    <div class="page-content">
        <div style="margin: 0 auto; max-width: 640px;">
            <div class="content_item">
                <div class="content">
                    <h1>Это закрытый ресурс</h1>

                    <p>Только люди, которые фолловят меня в твиттере, могут читать этот блог. Остальные не могут. Чтобы авторизоваться через твиттер, нажмите <a href="/authorization/twitter/initiate/">сюда</a>.</p>
                    <p>После авторизации вы сможете выкладывать ссылки на контент в паблик. Третье лицо, прошедшее по такой ссылке, сможет видеть только данный конкретный контент и ничего более. Каждая ссылка уникальна и привязана к вам, поэтому пользоваться этой возможностью необходимо благоразумно — в противном случае будут введены санкции.</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
